<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/597dd18707.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<%- include partials/nav %>
	<%- include partials/messages %>
	<%- body %>
</body>
</html>