<form action="/sessions" method="POST">

	<div id="login-box">
		<div class="form-item">
    		<label for="email">Email</label>
    		<input type="email" name="email" placeholder="Enter you email" required>
    	</div>

    	<div class="form-item">
    		<label for="password">Password</label>
    		<input type="password" name="password" placeholder="Enter you password" required>
    	</div>

    	<input type="submit" value="Login">
	</div>
</form>